@import url('https://fonts.googleapis.com/css?family=Dosis|Ubuntu');

html,body{
	margin: 0;
	padding: 0;
}
#myName{
	font-family: "Ubuntu";
	font-weight: 600;
	text-shadow: 1px 1px 1px #202020;
}
#portrait{
	margin-left: auto;
	margin-right: auto;
	border-radius: 100em;
	height: 7.5em;
	width: 7.5em;
}
#titleArea{
	background-color: #53a8ff;
	width: 100em;
	height: 250px;
	padding-top: 75px;
	text-align: center;
}
#projectTitle{
	font-family: "Dosis";
}
#projectDescription{
	font-family: Arial;
	font-size: 20px;
}
